In [1]:
import pandas as pd

In [2]:
data = {'a':[1,2,3,None],
       'b':[5,None,7,8],
       'c':[3,5,6,None]}
info = pd.DataFrame(data)
info

     a    b    c
0  1.0  5.0  3.0
1  2.0  NaN  5.0
2  3.0  7.0  6.0
3  NaN  8.0  NaN

In [3]:
info.bfill()

     a    b    c
0  1.0  5.0  3.0
1  2.0  7.0  5.0
2  3.0  7.0  6.0
3  NaN  8.0  NaN

In [4]:
info.fillna(value='?', limit=1, axis=1) # replace 1 value per row/column

     a    b    c
0  1.0  5.0  3.0
1  2.0    ?  5.0
2  3.0  7.0  6.0
3    ?  8.0  NaN