In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
# apply() apply function to column and create new column
df['name_len'] = df['Name'].apply(len)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,name_len
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,9
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,7
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,8
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,21
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,7
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,19
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,19
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,18
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,9

In [4]:
del df['name_len']
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [5]:
def strength(attack:str)->str:
    if attack > 150:
        return 'Strong'
    elif attack > 100:
        return 'Average'
    else:
        return 'Weak'

In [6]:
df['Strength'] = df['Attack'].apply(strength)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Weak
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Weak
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Weak
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Strong
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Average
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Strong
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Average

In [7]:
df.value_counts('Strength')

Strength
Weak       630
Average    152
Strong      18
Name: count, dtype: int64

In [8]:
# map
df['Legendary'] = df['Legendary'].map({False: 'No', True: 'Yes'})
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,No,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,No,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,No,Weak
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,No,Weak
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,No,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes,Weak
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes,Strong
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes,Average
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes,Strong
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes,Average

In [9]:
# applymap() applies function to the whole dataframe
df.applymap(type)

C:\Users\being\AppData\Local\Temp\ipykernel_10252\803711181.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(type)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
1,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
2,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
3,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
4,<class 'int'>,<class 'str'>,<class 'str'>,<class 'float'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
796,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
797,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
798,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>
799,<class 'int'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'int'>,<class 'str'>,<class 'str'>

In [10]:
# replace
# if map is used, all other values except 1 are NaN
# replace can be used in entire dataframe
df['Generation'] = df['Generation'].replace({1: 'first'})
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,first,No,Weak
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,first,No,Weak
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,first,No,Weak
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,first,No,Weak
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,first,No,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,Yes,Weak
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,Yes,Strong
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,Yes,Average
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,Yes,Strong
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,Yes,Average

In [11]:
# where, returns NaN if condition is false
df.where(df['Generation'] == 2)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# agg, aggregate multiple operations
df.agg({'Attack': ['min', 'max'], 'Defense': 'mean'})

      Attack  Defense
min      5.0      NaN
max    190.0      NaN
mean     NaN  73.8425

In [13]:
# copy
legendary = df['Legendary'].copy()
legendary

0       No
1       No
2       No
3       No
4       No
      ...
795    Yes
796    Yes
797    Yes
798    Yes
799    Yes
Name: Legendary, Length: 800, dtype: object

In [14]:
# Hierarchial Indexing (multi indexing), inplace=True, chnages in original dataframe
df.set_index(['Type 1', 'Name'], inplace=True)
df

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed Generation Legendary  \
Type 1  Name
Grass   Bulbasaur                   65       65     45      first        No
        Ivysaur                     80       80     60      first        No
        Venusaur                   100      100     80      first        No
        VenusaurMega Venusaur      122      120     80      first        No
Fire    Charmander                  60       50     65      first        No
...                                ...      ...    ...        ...       ...
Rock    Diancie                    100      150     50          6       Yes
        DiancieMega Diancie        160      110    110          6       Yes
Psychic HoopaHoopa Confined        150      130     70          6       Yes
        HoopaHoopa Unbound         170      130     80          6       Yes
Fire    Volcanion                  130       90     70          6       Yes

                              Strength
Type 1  Name
Grass   Bulbasaur                 Weak
        Ivysaur                   Weak
        Venusaur                  Weak
        VenusaurMega Venusaur     Weak
Fire    Charmander                Weak
...                                ...
Rock    Diancie                   Weak
        DiancieMega Diancie     Strong
Psychic HoopaHoopa Confined    Average
        HoopaHoopa Unbound      Strong
Fire    Volcanion              Average

[800 rows x 12 columns]

In [15]:
df.index # returns each index as tuple

MultiIndex([(  'Grass',                 'Bulbasaur'),
            (  'Grass',                   'Ivysaur'),
            (  'Grass',                  'Venusaur'),
            (  'Grass',     'VenusaurMega Venusaur'),
            (   'Fire',                'Charmander'),
            (   'Fire',                'Charmeleon'),
            (   'Fire',                 'Charizard'),
            (   'Fire', 'CharizardMega Charizard X'),
            (   'Fire', 'CharizardMega Charizard Y'),
            (  'Water',                  'Squirtle'),
            ...
            ( 'Flying',                    'Noibat'),
            ( 'Flying',                   'Noivern'),
            (  'Fairy',                   'Xerneas'),
            (   'Dark',                   'Yveltal'),
            ( 'Dragon',          'Zygarde50% Forme'),
            (   'Rock',                   'Diancie'),
            (   'Rock',       'DiancieMega Diancie'),
            ('Psychic',       'HoopaHoopa Confined'),
            ('Psychic',        'HoopaHoopa Unbound'),
            (   'Fire',                 'Volcanion')],
           names=['Type 1', 'Name'], length=800)

In [16]:
df.index.get_level_values(0)

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Fire',
       'Fire', 'Water',
       ...
       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Rock',
       'Psychic', 'Psychic', 'Fire'],
      dtype='object', name='Type 1', length=800)

In [17]:
df.index.get_level_values('Type 1')

Index(['Grass', 'Grass', 'Grass', 'Grass', 'Fire', 'Fire', 'Fire', 'Fire',
       'Fire', 'Water',
       ...
       'Flying', 'Flying', 'Fairy', 'Dark', 'Dragon', 'Rock', 'Rock',
       'Psychic', 'Psychic', 'Fire'],
      dtype='object', name='Type 1', length=800)

In [18]:
df.index.swaplevel()
df

                                 #  Type 2  Total  HP  Attack  Defense  \
Type 1  Name
Grass   Bulbasaur                1  Poison    318  45      49       49
        Ivysaur                  2  Poison    405  60      62       63
        Venusaur                 3  Poison    525  80      82       83
        VenusaurMega Venusaur    3  Poison    625  80     100      123
Fire    Charmander               4     NaN    309  39      52       43
...                            ...     ...    ...  ..     ...      ...
Rock    Diancie                719   Fairy    600  50     100      150
        DiancieMega Diancie    719   Fairy    700  50     160      110
Psychic HoopaHoopa Confined    720   Ghost    600  80     110       60
        HoopaHoopa Unbound     720    Dark    680  80     160       60
Fire    Volcanion              721   Water    600  80     110      120

                               Sp. Atk  Sp. Def  Speed Generation Legendary  \
Type 1  Name
Grass   Bulbasaur                   65       65     45      first        No
        Ivysaur                     80       80     60      first        No
        Venusaur                   100      100     80      first        No
        VenusaurMega Venusaur      122      120     80      first        No
Fire    Charmander                  60       50     65      first        No
...                                ...      ...    ...        ...       ...
Rock    Diancie                    100      150     50          6       Yes
        DiancieMega Diancie        160      110    110          6       Yes
Psychic HoopaHoopa Confined        150      130     70          6       Yes
        HoopaHoopa Unbound         170      130     80          6       Yes
Fire    Volcanion                  130       90     70          6       Yes

                              Strength
Type 1  Name
Grass   Bulbasaur                 Weak
        Ivysaur                   Weak
        Venusaur                  Weak
        VenusaurMega Venusaur     Weak
Fire    Charmander                Weak
...                                ...
Rock    Diancie                   Weak
        DiancieMega Diancie     Strong
Psychic HoopaHoopa Confined    Average
        HoopaHoopa Unbound      Strong
Fire    Volcanion              Average

[800 rows x 12 columns]

In [22]:
df.loc['Grass']

,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Strength
Name,,,,,,,,,,,,
Bulbasaur,1,Poison,318,45,49,49,65,65,45,first,No,Weak
Ivysaur,2,Poison,405,60,62,63,80,80,60,first,No,Weak
Venusaur,3,Poison,525,80,82,83,100,100,80,first,No,Weak
VenusaurMega Venusaur,3,Poison,625,80,100,123,122,120,80,first,No,Weak
Oddish,43,Poison,320,45,50,55,75,65,30,first,No,Weak
...,...,...,...,...,...,...,...,...,...,...,...,...
Chespin,650,NaN,313,56,61,65,48,45,38,6,No,Weak
Quilladin,651,NaN,405,61,78,95,56,58,57,6,No,Weak
Chesnaught,652,Fighting,530,88,107,122,74,75,64,6,No,Average
Skiddo,672,NaN,350,66,65,48,62,57,52,6,No,Weak
Gogoat,673,NaN,531,123,100,62,97,81,68,6,No,Weak

In [24]:
df.loc[('Grass', 'Bulbasaur')] # return grass type pokemon that is bulbasaur

#                  1
Type 2        Poison
Total            318
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation     first
Legendary         No
Strength        Weak
Name: (Grass, Bulbasaur), dtype: object

In [25]:
df.loc['Grass', 'Attack']

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Oddish                    50
                        ...
Chespin                   61
Quilladin                 78
Chesnaught               107
Skiddo                    65
Gogoat                   100
Name: Attack, Length: 70, dtype: int64