In [2]:
import pandas as pd

In [3]:
numbers:list[int] = [1,2,3,4,5,6]

In [4]:
values = pd.Series(numbers)

In [5]:
values.max()

6

In [6]:
values.idxmax()

5

In [29]:
file = pd.read_csv('TopRichestInWorld.csv', index_col=['Name'])
file

,NetWorth,Age,Country/Territory,Source,Industry
Name,,,,,
Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...
Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [31]:
file['Elon Musk' : 'Bill Gates']

,NetWorth,Age,Country/Territory,Source,Industry
Name,,,,,
Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology

In [8]:
type(file)

pandas.core.frame.DataFrame

In [33]:
file['Age'].mean()

67.11881188118812

In [9]:
# squeeze changes the data to series
file2 = pd.read_csv('TopRichestInWorld.csv', usecols=["Name"]).squeeze()
file2

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [10]:
type(file2)

pandas.core.series.Series

In [11]:
file2.to_csv('test.csv', index=False)

In [12]:
file2.head()

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
Name: Name, dtype: object

In [13]:
file2.head(10)

0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
5                  Larry Page
6                 Sergey Brin
7               Larry Ellison
8               Steve Ballmer
9               Mukesh Ambani
Name: Name, dtype: object

In [14]:
file2.head(-80) # all data excluding last 80

0                                 Elon Musk
1                                Jeff Bezos
2                  Bernard Arnault & family
3                                Bill Gates
4                            Warren Buffett
5                                Larry Page
6                               Sergey Brin
7                             Larry Ellison
8                             Steve Ballmer
9                             Mukesh Ambani
10                    Gautam Adani & family
11                        Michael Bloomberg
12                Carlos Slim Helu & family
13    Francoise Bettencourt Meyers & family
14                          Mark Zuckerberg
15                               Jim Walton
16                           Zhong Shanshan
17                             Alice Walton
18                               Rob Walton
19                           Changpeng Zhao
20                             Charles Koch
Name: Name, dtype: object

In [15]:
file2.tail()

96         Vladimir Potanin
97     Harold Hamm & family
98             Sun Piaoyang
99       Luo Liguo & family
100               Peter Woo
Name: Name, dtype: object

In [16]:
# na_position are NAN values and where to place them, inplace make changes to original variable file2
file2.sort_values(axis=0, ascending=True, kind='quicksort', na_position='last', ignore_index=True, inplace=False)

0           Abigail Johnson
1          Alain Wertheimer
2              Alice Walton
3            Amancio Ortega
4            Andrew Forrest
               ...
96           Warren Buffett
97         William Lei Ding
98     Yang Huiyan & family
99             Zhang Yiming
100          Zhong Shanshan
Name: Name, Length: 101, dtype: object

In [17]:
file2.sort_index(ascending=False)

100                   Peter Woo
99           Luo Liguo & family
98                 Sun Piaoyang
97         Harold Hamm & family
96             Vladimir Potanin
                 ...
4                Warren Buffett
3                    Bill Gates
2      Bernard Arnault & family
1                    Jeff Bezos
0                     Elon Musk
Name: Name, Length: 101, dtype: object

In [19]:
industry = pd.read_csv('TopRichestInWorld.csv', usecols=['Industry']).squeeze()
industry

0                 Automotive
1                 Technology
2           Fashion & Retail
3                 Technology
4      Finance & Investments
               ...
96           Metals & Mining
97                    Energy
98                Healthcare
99             Manufacturing
100              Real Estate
Name: Industry, Length: 101, dtype: object

In [21]:
industry.value_counts()

Industry
Fashion & Retail         18
Technology               15
Finance & Investments    13
Metals & Mining           9
Food & Beverage           8
Automotive                7
Diversified               6
Manufacturing             5
Healthcare                5
Media & Entertainment     4
Real Estate               3
Telecom                   2
Logistics                 2
Energy                    2
Gambling & Casinos        1
Service                   1
Name: count, dtype: int64

In [23]:
# normalize = True for percentage
industry.value_counts(normalize=True, sort=True)

Industry
Fashion & Retail         0.178218
Technology               0.148515
Finance & Investments    0.128713
Metals & Mining          0.089109
Food & Beverage          0.079208
Automotive               0.069307
Diversified              0.059406
Manufacturing            0.049505
Healthcare               0.049505
Media & Entertainment    0.039604
Real Estate              0.029703
Telecom                  0.019802
Logistics                0.019802
Energy                   0.019802
Gambling & Casinos       0.009901
Service                  0.009901
Name: proportion, dtype: float64

In [25]:
industry[1]

'Technology'

In [27]:
industry[[1,2,3,9]]

1          Technology
2    Fashion & Retail
3          Technology
9         Diversified
Name: Industry, dtype: object